{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }],
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "emotion",
    "react-require",
    "@babel/plugin-proposal-export-namespace-from"
  ]
}
